<!doctype html>
<html lang='pt-BR'>
	<head>
		<meta charset="UTF-8">
		<title>As zonas da minha cidade por EAC</title>
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="css/estilo-index.css">
		<script src="prefixfree.min.js"></script>
	</head>
	<body>
		<!-- O seu HTML vem aqui! -->
		<div class="container">
			<h1><a href="index.html">As zonas da minha cidade</a></h1>
			<section>
			<article>
				<h2>Caminhos de ferro de moçanbique!</h2>
				<img src="img/cfm.jpg" alt="foto do CFM, fonte site officiam do CFM" title="foto do CFM, fonte site officiam do CFM">
				
				<p>A <a href="https://www.cfm.co.mz/index.php" target="_blank">Portos e Caminhos de Ferro de Moçambique (CFM)</A> é uma empresa pública que gere os sistemas ferroviário e portuário moçambicanos. O sistema ferroviário foi desenvolvido para servir seis portos, Maputo, Beira, Nacala, Xai-Xai, Inhambane e Quelimane, encontrando-se ainda activo em relação aos três primeiros, que ligam a países vizinhos.</p>
				<p>Em 1930, por iniciativa dos Caminhos de Ferro de Moçambique, foi criado o Serviço de Camionagem Automóvel. A existência deste serviço de transporte rápido, seguro e económico, foi determinante para o desenvolvimento agrícola e fomento do comércio, trazendo do interior para as estações ferroviárias os produtos destinados ao abastecimento dos mercados locais e à exportação por via marítima, substituindo, com sucesso, o transporte ferroviário, quando o tráfego não era suficiente para o justificar.</p>
				<div class="clear"></div>
			</article><!--div.container-->
			
			<article>
				<h2>Caminhos de ferro de moçanbique!</h2>
				<img src="img/cfm.jpg" alt="foto do CFM, fonte site officiam do CFM" title="foto do CFM, fonte site officiam do CFM">
				<p>A <a href="https://www.cfm.co.mz/index.php" target="_blank">Portos e Caminhos de Ferro de Moçambique (CFM)</A> é uma empresa pública que gere os sistemas ferroviário e portuário moçambicanos. O sistema ferroviário foi desenvolvido para servir seis portos, Maputo, Beira, Nacala, Xai-Xai, Inhambane e Quelimane, encontrando-se ainda activo em relação aos três primeiros, que ligam a países vizinhos.</p>
				<p>Em 1930, por iniciativa dos Caminhos de Ferro de Moçambique, foi criado o Serviço de Camionagem Automóvel. A existência deste serviço de transporte rápido, seguro e económico, foi determinante para o desenvolvimento agrícola e fomento do comércio, trazendo do interior para as estações ferroviárias os produtos destinados ao abastecimento dos mercados locais e à exportação por via marítima, substituindo, com sucesso, o transporte ferroviário, quando o tráfego não era suficiente para o justificar.</p>
				<div class="clear"></div>
			</article><!--div.container-->
			
			<article>
				<h2>Caminhos de ferro de moçanbique!</h2>
				<img src="img/cfm.jpg" alt="foto do CFM, fonte site officiam do CFM" title="foto do CFM, fonte site officiam do CFM">
				<p>A <a href="https://www.cfm.co.mz/index.php" target="_blank">Portos e Caminhos de Ferro de Moçambique (CFM)</A> é uma empresa pública que gere os sistemas ferroviário e portuário moçambicanos. O sistema ferroviário foi desenvolvido para servir seis portos, Maputo, Beira, Nacala, Xai-Xai, Inhambane e Quelimane, encontrando-se ainda activo em relação aos três primeiros, que ligam a países vizinhos.</p>
				<p>Em 1930, por iniciativa dos Caminhos de Ferro de Moçambique, foi criado o Serviço de Camionagem Automóvel. A existência deste serviço de transporte rápido, seguro e económico, foi determinante para o desenvolvimento agrícola e fomento do comércio, trazendo do interior para as estações ferroviárias os produtos destinados ao abastecimento dos mercados locais e à exportação por via marítima, substituindo, com sucesso, o transporte ferroviário, quando o tráfego não era suficiente para o justificar.</p>
				<div class="clear"></div>
			</article>
			</section>
			<aside class="sidenote">
				<h3>E existem muitos outros lugares interessantes na cidade...</h3>
				<ol>
					<li>Mercado Central</li>
					<li>Betel das Testemunhas de Jeová de Moçanbique</li>
					<li>Universidade Eduardo Mondlane</li>
					<li>Museu da Cultura</li>
					<li>E muito mais!</li>
				</ol>
			</aside>
			<div class="clear"></div>
			<footer class="footer clear">
				<p>Parte do livro "HTML5 e CSS3: Domine a web do futuro."</p>
			</footer>
		</div><!--div.container-->
		<script src="jquery.min.js"></script>
	</body>
</html>
